@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Dancing+Script&family=Great+Vibes&family=Lato:wght@300&family=Lobster&family=Lora&family=Montserrat:wght@300&family=Noto+Sans&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Pacifico&family=Poppins:wght@300&family=Roboto:wght@300&family=Rubik:wght@300&family=Sacramento&family=Staatliches&display=swap");

/* font-family: 'Bebas Neue', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Staatliches', cursive; */
